* {
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: $grey;
    line-height: 1.5;
}

header {
    background-image: url(/img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header > section {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (min-width: $mobileScreen) {
    .topbar {
        background-color:$darkBlue;
        padding: 2vh;
        > section {
            @include columnDirection;
            align-items: center;
            row-gap: 1vh;
        }

        article {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            > small {
                display: flex;
                align-items: center;
                column-gap: 1vh;
                color: whitesmoke;
            }

            a {
                color: whitesmoke;
                font-size: 12px;
            }


        }
        
        ul {
            display: flex;
            list-style-type: none;
            
            a {
                color: whitesmoke;
                width: 3vh;
            }
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        height: 10vh;
        
        // width: 90%;

        > a {
            display: none;
        }
        
        > article {
            display: flex;
            align-items: center;
            column-gap: 3vw;
            color: $orange;
        }
        
        h2 {
            font-size: 30px;
            text-transform: uppercase;
        }

        > ul {
            display: none;
        }

        i {
            padding: 5%;
            font-size: 30px;
        }

        
    }

    details {
        position: absolute;
        width: 98%;
        padding-right: 2%;
        text-align: right;
        
        > ul {
            position: absolute;
            text-align: left;
            list-style-type: none;
            background-color: white;
            width: 100%;
            row-gap: 2vh;
        }

        li {
            display: flex;
        }

        a {
            width: 100%;
            color: $orange;
            font-weight: 600;
            padding: 2vh;
            text-transform: uppercase;
        }

    }

    summary {
        color: darkgray;
        padding: 2vh;
        text-align: center;
        font-size: 26px;
        font-weight: 200;
        border: 1px solid lightgrey;
    }

    /* HEADER */
    header {
        height: 30vh;
        > section {
            height: 100%;
            width: 100%;   
        }

        article {
            height: 100%;
            @include columnDirection;
            justify-content: center;
            align-items:center;
            color: whitesmoke;
        }

        h1 {
            font-size: 45px;
            font-weight: 800;
        }

        aside {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 2vh;
        }

        a {
            color: white;
            font-weight: 400;
            
        }

    }
    // FOOTER 
    footer {
        padding: 2vh 2vh 2vh 2vh;
        background-color: $darkBlue;
        a,p,i,address{
            color: white;
        }
        aside {
            @include columnDirection;
            row-gap: 4vh;
            li {
                display: flex;
                align-items: center;
                column-gap: 2vh;
            }
        }
        h3 {
            color: $orange;
        }
        >article {
            @include columnDirection;
            row-gap: 5vh;
            padding-bottom: 10vh;
        }

        form {
            display: flex;
            justify-content: center;
            width: 100%;
            input {
                width: 100%;
                padding: 2vh;
                border: none;

            }

            [type="submit"] {
                @include styleButtons;

            }
        }

        .icons {

            ul {
            display: flex;
                width: 40%;
                column-gap: 2vh;


            }
            a {
                border: 1px solid white;
                border-radius: 50%;
                width: 6vh;
                height: 6vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            li {
                display: flex;
                width: 100%;
            }



            i {
                font-size: 20px;
            }
        }

        > section {
            padding: 4vh;
            border-top: 1px solid #424245;
            @include columnDirection;
            row-gap: 2vh;
            align-items: center;
            >article {
                text-align: center;
                a {
                    color: $orange;
                }
            }
            >ul {
                display: flex;
                width: 80%;
            }
            li {
                display: flex;
                justify-content: center;
                width: 100%;
            }


        }
    }

}

@media (min-width: $tabletScreen) {
    .topbar {
        article {
            width: 40%;
        } 

        a {
            transition: .4s;
        }

        a:hover {
            color: $orange;
        }
    }

    nav {
        height: 8vh;
    
        > article { 
            column-gap: 1vw; 
        }
        
        h2 {
            font-size: 40px;
            font-weight: 800;
        }

        i {
            font-size: 45px;
        }

    }

    details {
        a {
            font-size: 22px;
            font-weight: 500;
            transition: .4s;

            &:hover {
                color: white;
                background-color: $orange;
                width: 100%;
            }
        }
    }

    summary {
        padding: 1vh;
    }

    /* HEADER */
    header {
        
        h1 {
            font-size: 55px;
        }

        a {
            font-size: 20px;
            transition: .6s;
            
            &:hover {
                color: $orange;
            }
        }

    }

    // FOOTER
    footer {
        padding: 6vh 6vh 6vh 6vh;

        >section {
            >ul {
             display: flex;
             width: 30%;

            }
            a {
                transition: .2s;

            }
            a:hover {
                color: white;
            }
        }

        >article {    
                flex-direction: row;
        }

        aside {
            width: 34%;
            row-gap: 5vh;

            &:nth-child(2) {
                a {
                border-bottom: 1px solid transparent;

                }
                a:hover {
                    border-bottom: 1px solid white;
                }
            }

           

        }

        .icons {
            a{
                transition: .6s;
            }
            a:hover {
                background-color: white;
                color: black;
            }
        }

        [type="submit"] {
            cursor: pointer;
            transition: .2s;
            &:hover {
                background-color: $greyBackground;
                color: $orange;
            }
        }

    }
}

@media (min-width: $desktopScreen) {
    .topbar {
        > section {
            flex-direction: row;
            justify-content: space-between;
            padding-right: 2%;
            padding-left: 1%;

        }

        article {
            width: 25%;              
            
        }

    }

    nav {
        padding-left: 3%;
        padding-right: 3%;
        height: 10vh;

        

        > a {
           display: block;
           background-color: $orange;
           padding: 1%;
           color: whitesmoke;
           transition: .4s;

           &:hover {
            background-color: transparent;
            color: $darkBlue;
            font-weight: 700;
        }
           
        }

        > ul {
            display: flex;
            list-style-type: none;
            height: 100%;
            width: 40%;
            
            li {
                display: flex;
                width: 100%;
            }

            a {
                color: $darkBlue;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 50%;
                

            }

            a:hover {
                background-color: $orange;
                color: whitesmoke;
                font-weight: 700;
                
            }
        }

    }

    details {
        display: none;
    }

    footer {
        >section {
            padding: 3vh;

            flex-direction: row;
            justify-content: space-between;

            >ul {
                width: 20%;
            }
        }
    }
            
}