@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

// Screen Sizes
$mobileScreen : 300px;
$tabletScreen : 700px;
$desktopScreen : 1000px;

//Colors
$orange : #FF4800;
$darkBlue : #1F1F2E;
$grayBackground : #f2f2f4;

//Font Families
$fontFamily : "Poppins",
sans-serif;