@media (min-width: $desktopScreen) {

    h2 {
        font-size: 36px;
    }

    /* SERVICES */
    .services {
        width: 95%;
        > article {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        section {
            width: 95%;
            flex-direction: row;

            > article {
                width: 20%;
            }
        }
    }

    /* QUOTE */ 
    .quote {
        width: 100%;
        section {
            width: 100%;
        }

        article {
            flex-direction: row;

            > article {
                width: 70%;
            }
        }

        form {
            padding: 5vh;
            row-gap: 3vh;

            > aside {
                row-gap: 2vh;
            }
        }

        input, select {
            padding-left: 5%;
            font-size: 18px;

        }
    }
    
    /* PRICING */
    .pricing {
        > article {
            row-gap: 0;
        }

        section {
            padding: 3%;
        }

        span {
            font-size: 55px;
        }
    } 
}