@media (min-width: $desktopScreen) {
    /* SERVICES */
    .services {
        > article {
            display: flex;
            flex-wrap: wrap;
        }
        section {
            width: 100%;
            flex-direction: row;

            > article {
                width: 20%;
            }
        }
    }

    .quote {
        width: 100%;
        section {
            width: 100%;
        }

        article {
            flex-direction: row;

            > article {
                width: 70%;
            }
        }

        form {
            padding: 5vh;
            row-gap: 3vh;

            > aside {
                row-gap: 2vh;
            }
        }

        input, select {
            padding-left: 5%;
            font-size: 18px;

        }
    }
            
}