body,
form,
footer,
details > ul,
header > section,
header > section > article,
main > section,
main > section > article {
    @include columnDirection;
}


@media (min-width: $mobileScreen) {
    .topbar {
        background-color:$darkBlue;
        padding: 2vh;
        > section {
            @include columnDirection;
            align-items: center;
            row-gap: 1vh;
        }

        article {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            > small {
                display: flex;
                align-items: center;
                column-gap: 1vh;
                color: whitesmoke;
            }

            a {
                color: whitesmoke;
                font-size: 12px;
            }


        }
        
        ul {
            display: flex;
            list-style-type: none;
            
            a {
                color: whitesmoke;
                width: 3vh;
            }
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        height: 10vh;
        
        // width: 90%;

        > a {
            display: none;
        }
        
        > article {
            display: flex;
            align-items: center;
            column-gap: 3vw;
            color: $orange;
        }
        
        h2 {
            font-size: 30px;
            text-transform: uppercase;
        }

        > ul {
            display: none;
        }

        i {
            padding: 5%;
            font-size: 30px;
        }

        
    }

    details {
        position: absolute;
        width: 98%;
        padding-right: 2%;
        text-align: right;
        
        > ul {
            position: absolute;
            text-align: left;
            list-style-type: none;
            background-color: white;
            width: 100%;
            row-gap: 2vh;
        }

        li {
            display: flex;
        }

        a {
            width: 100%;
            color: $orange;
            font-weight: 600;
            padding: 2vh;
            text-transform: uppercase;
        }

    }

    summary {
        color: darkgray;
        padding: 2vh;
        text-align: center;
        font-size: 26px;
        font-weight: 200;
        border: 1px solid lightgrey;
    }

    /* HEADER */
    header {
        height: 30vh;
        > section {
            height: 100%;
            width: 100%;   
        }

        article {
            height: 100%;
            // @include columnDirection;
            text-align: center;
            justify-content: center;
            color: whitesmoke;
        }

        h1 {
            font-size: 45px;
            font-weight: 800;
        }

        aside {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 2vh;
        }

        a {
            color: white;
            font-weight: 400;
            
        }

    }

    main {
        row-gap: 10vh;
        
        > section:nth-child(2) {
            background-color: $greyBackground;

            h2, h4 {
                text-align: start;
            }
        }
    }

    h4 {
        color: $orange;
        text-transform: uppercase;
        text-align: center;
    }

    h2 {
        font-size: 28px;
        text-align: center;
    }

    /* SERVICES */
    .services {
        padding-top: 10vh;
        width: 80%;

        > article {
            text-align: center;
            row-gap: 2vh;
        }

        section {
            @include columnDirection;

            > article {
                padding-bottom: 5vh;
                row-gap: 4vh;
            }

            aside {
                display: flex;
                border: 1px solid $orange;
                background-color: $orange;
                padding: 3vh;
                align-items: center;
                justify-content: center;
                column-gap: 2vh;             
            }

            h5 {
                color: whitesmoke;
                font-size: 16px;
                font-weight: 400;
            }

            i {
                font-size: 28px;
            }

            p {
                padding-top: 3vh;
                padding-bottom: 2vh;
            }

            a {
                color: $orange;
                border-bottom: 1px solid lightgray;
            }
        }

    }

    /* QUOTE */
    .quote {
        > article {
            padding: 10%;
            row-gap: 5vh;

            > article {
                background-color: $orange;
                width: 100%;
                display: flex;
                flex-direction: column;
        
            }
        }

        section {
            @include columnDirection;
            row-gap: 3vh;

            > article {
                @include columnDirection;
                row-gap: 2vh;
            }
        }

        h3 {
            color: $orange;
            font-size: 24px;
            font-weight: 800;
        }

        h5 {
            font-size: 14px;
            font-weight: 700;
        }
        
        form,
        form > aside {
            @include columnDirection;
            row-gap: 1vh;
            justify-content: center;
        
        }

        form {
            padding: 2vh;
            height: 40vh;
            background-color: $orange;

            > aside {
                width: 100%;
            }
        }

        input, select {
            padding: 5%;
        }

        select {
            width: 100%;            
            background: white url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
            appearance: none ;
        }

        [type="submit"] {
            color: whitesmoke;
            border: 1px solid $orange;
            background-color: $darkBlue;
            width: 100%;
        }

    }

    /* PRICING */
    .pricing {
        width: 80%;
        
        > article {
            text-align: center;
            row-gap: 2vh;
        }

        section {
            @include columnDirection;
            > article {
                padding-bottom: 5vh;
                row-gap: 4vh;
            }

            aside {
                @include columnDirection;
                background-color: $greyBackground;
                padding-top: 3vh;
                padding-bottom: 3vh;
                align-items: center;
                justify-content: center;
                row-gap: 3vh;
                            
            }
        
            h4 {
                
                padding: 2vh;
                background-color: $orange;
                font-size: 26px;
                font-weight: 800;
                text-transform: capitalize;
                color: black;
            }

            h3 {
                display: flex;
                align-items: flex-start;
                font-size: 40px;
                font-weight: 800;
                > small:last-child {
                    align-self: flex-end;
                }
            }

            small {
                font-size: 20px;
                font-weight: 200;
            }

            a {
                width: 40%;
                padding: 3%;
                background-color: $orange;
                color: whitesmoke;
                
            }
        }
    }

    /* FOOTER */
    // footer {
    //     background-color: $darkBlue;
    //     color: white;
    //     padding: 5%;
    //     row-gap: 3vh;

    //     > article {
    //         border-bottom: 1px solid dimgray;
    //         padding-bottom: 10vh;

    //         > aside {
    //             row-gap: 3vh;
    //         }

    //         a {
    //             color: whitesmoke;
    //         }
    //     }

    //     h3 {
    //         color: $orange;
    //         font-weight: 700;  
    //     }

    //     p {
    //         color: whitesmoke;
    //     }

    //     ul {
    //         list-style-type: none;
            
    //     }

    //     p {
    //         text-align: center;
    //     }

    //     a {
    //         color: $orange;
    //     }
    // }
    
}

