@media (min-width:$desktopScreen) {

    .contact {
        flex-direction: row;
        column-gap: 3vh;
        >aside {
            width: 50%;
        }

        form {
            [type="submit"]{
                width: 30%;
            }
        }

    }

}